environment: test
project:
 name: what
databases:
 website:
  host: localhost
  name: what
  pass: what
  user: what
  data:
   exclude:
    - wp_termmeta
    - wp_commentmeta
    - wp_postmeta
   obfuscate:
    - wp_users:
      - string:
        - user_login
        - user_nicename
        - display_name
      - email:
        - user_email
  remote_dir: databases
  storage: 
    general: general_s3
    obfuscated: obfuscated_s3
filesystem:
 my_zipped_stuff:
  zip_dir: uploads # the directory to zip up, it should be just the directory name, the path is 'parent_dir'
  parent_dir: /var/www/html # the directory above the one to zip (see 'zip_dir' above)
  remote_dir: media # the directory of the file in the remote storage
  exclude:
    - list
    - of
    - excluded
    - dir
    - names
  storage: 
    general: general_s3
storage:
  general_s3:
    access: what
    secret: what
    bucket: backups.creode.what
    region: eu-west-2
  obfuscated_s3:
    access: what
    secret: what
    bucket: obfuscated.creode.what
    region: eu-west-2
