environment: test
project:
 name: what
databases:
 website:
  host: localhost
  name: what
  pass: what
  user: what
  filename: what.sql
  destination: databases/what.sql
  storage: 
   s3:
    access: what
    secret: what
    bucket: backups.creode.what
    region: eu-west-2
filesystem:
 files:
  parentdir: /var/www/html
  dir: files
  filename: what.zip
  destination: media/what.zip
  storage: 
   s3:
    access: what
    secret: what
    bucket: backups.creode.what
    region: eu-west-2
